*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
.App {
  text-align: center;
}
.landing-page-container{
  background-color: #E1E1E1;
  height: 100%;
  min-height:100vh;
  position: relative;
}
.register-container,
.login-container{
  max-width: 1160px;
  height: 520px;
  width: 90%;
  background-color: #FFFFFF;
  display:flex;
  flex-direction: row;
  justify-content: center;
  position:absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  border-radius: 36px;
}
.register-form,
.login-form{
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.register-form h2,
.login-form h2{
  font-size:28px;
  color:#0ECA98;
  margin-bottom: 30px;
}
.register-form label,
.login-form label{
  display: flex;
  flex-direction: column;
  margin: 10px;
  font-size: 16px;
  font-weight: bold;
  color:#0ECA98;
}
.border{
  border: 1px solid #f4f7f6;
}
.error{
  font-size: 11px;
  padding: 3px;
  color: #eb3e32;
  display: none;
}
input:invalid[focused="true"]{
  border: 1px solid #eb3e32;
}
input:valid[focused="true"]{
  border: 1px solid #0ECA98;
}
input:invalid[focused="true"]{
  border: 1px solid #eb3e32;
}
input:invalid[focused="true"] ~ span{
  display: block;
}
.auth-error{
  color: #eb3e32;
  padding:5px 0 5px 0;
}
.register-form input[type=text],
.register-form input[type=password],
.login-form input[type=text],
.login-form input[type=password]
{
  height:35px;
  width: 220px;
  outline: none;
  margin: 0 10px 10px 0;
  padding:10px;
  background-color: #f4f7f6;
}
.register-form input[type=submit],
.login-form input[type=submit]{
  margin-top: 15px;
  width:125px;
  height: 36px;
  font-weight: bold;
  font-size:16px;
  color:#FFFFFF;
  background-color:#0ECA98;
  border-radius: 20px;
  border:none;
  cursor: pointer;
}
.sign-in-btn{
  margin-top:10px;
  margin-top: 15px;
  width:125px;
  height: 36px;
  font-weight: bold;
  font-size:16px;
  color:#725555;
  background-color:#fafa1b;
  border-radius: 20px;
  border:none;
  cursor: pointer;
}
.right-panel{
  background-color:#0ECA98;
  height:100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 0 36px 36px 0;
}
.right-panel h2{
  margin-bottom: 20px;
  color: #FFFFFF;
  font-size: 25px;
  width: 90%;
}
.right-panel h2::after {
  content: "";
  width: 75%;
  height: 3px;
  background-color: #ffffff;
  font-weight: bold;
  display:block;
  margin: 15px auto 5px auto;
  border-radius: 5px;
}
.right-panel p{
  color: #FFFFFF;
  font-size: 18px;
  width: 90%;
}
/* dashboard */
.dashboard{
  /* background-color: #F1F5F8; */
  background-color: #dff5f3;
  width: 100%;
  height: 100%;
  min-height:100vh;
}
/* navbar */
.navbar{
  width:100%;
  height:100px;
  background-color:#0ECA98;
  display:flex;
  flex-direction:row;
  justify-content:right;
  align-items: center;
  font-size: 24px;
  color:#ffffff;
  font-weight: bold;
}
.navbar .user{
  margin-right: 40px;
}
.navbar .logout{ 
  width:125px;
  height: 36px;
  border:none;
  font-weight: bold;
  font-size:18px;
  color:#FFFFFF;
  background-color:#eb3e32;
  border-radius: 20px;
  margin-right: 40px;
  cursor: pointer;
}
/* search bar__data */
.search-bar{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 60px auto 20px auto;
}
.search{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.not-found{
  color:#eb3e32;
}
.search label{
  display: flex;
  flex-direction: column;
  margin: 10px;
  font-size: 22px;
  font-weight: bold;
  color:#0ECA98;
}
.search{
  margin-bottom: 50px;
}
.search input{
  height:40px;
  width: 245px;
  border:none;
  outline: none;
  margin: 20px 0 0 0;
  padding:10px;
  background-color: #f4f7f6;
}
.search input[type="submit"]{
  margin-top: 15px;
  width:125px;
  height: 40px;
  border:none;
  font-weight: bold;
  font-size:16px;
  color:#FFFFFF;
  background-color:#0ECA98;
  border-radius: 20px;
  cursor: pointer;
}
/* people/ */

.people-list{
  display: flex;
  flex-direction:column;
  align-items: center;
}
/* person */
.person{
  display:flex;
  background-color: #ffffff;
  width: 90%;
  max-width: 1380px;
  height: 100px;
  margin-bottom: 5px;;
}
.left{
  flex: 3;
  display: flex;
  flex-direction: row;
  align-items:center;
}
.person-data{
  padding-left: 40px;
  display: flex;
  font-size: 20px;
}
.name{
  margin-right: 15px;
  color:#0ECA98;
}
.phone-num{
  color: rgb(2, 48, 21);
  margin-right: 15px;
}
.right{
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: right;
}
.control-icons{
  margin-right: 40px;
}
.icon-edit{
  font-size: 28px;
  margin-left: 15px;
  cursor: pointer;
  color:#0ECA98;
}
.icon-del{
  font-size: 28px;
  margin-left: 15px;
  cursor: pointer;
  color:#eb3e32;
}
.icon-call{
  font-size: 28px;
  margin-left: 15px;
  cursor: pointer;
  color:#0d7946;
  margin-left: 40px;
}
.edit-input{
  height:32px;
  width: 180px;
  border:none;
  outline: none;
  padding:10px;
  background-color: #DFF5F3;
  border-radius: 1px;
  margin-right: 10px;
}
/* error page */
.error-page{
  background-image: url("./images/error.jpg");
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
}

/* media queries */

@media only screen and (max-width: 760px) {
  .right-panel{
    display: none;
  }
  .navbar{
    font-size: 20px;
  }
  .navbar .user{
    margin-right: 20px;
  }
  .navbar .logout{ 
    width:110px;
    height: 30px;
    font-size:15px;
    margin-right: 20px;
  }
  .person-data{
    padding-left: 10px;
    font-size: 16px;
    flex-direction: column;
  }
  .name{
    margin-right: 10px;
    padding: 0 0 5px 0;
  }
  .phone-num{
    margin-right: 10px;
  }
  .control-icons{
    margin-right: 20px;
  }
  .icon-edit{
    font-size: 24px;
    margin-left: 10px;
  }
  .icon-del{
    font-size: 24px;
    margin-left: 10px;
  }
  .icon-call{
    font-size: 24px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .search input{
    height:36px;
    width: 220px;
    margin: 10px 0 0 0;
  }
  .search input[type="submit"]{
    margin-top: 15px;
    width:120px;
    height: 36px;
    font-size:15px;
  }
  .edit-input{
    margin: 5px 0 5px 0;
    width: 100px;
    font-size: 13px;
  }
}
@media only screen and (max-width: 480px) {
  .navbar{
    font-size: 16px;
  }
  .navbar .user{
    margin-right: 10px;
  }
  .navbar .logout{ 
    width:100px;
    height: 30px;
    font-size:14px;
    margin-right: 10px;
  }
}
